.g-config-breadcrumb-container
p.g-wholetale-description
  | Configure Whole Tale plugin
form#g-wholetale-config-form(role="form")
  .form-group
    label.control-label(for="wholetale_instance_cap") Instance Cap
    input.input-sm.form-control#wholetale_instance_cap(
      type="text", value=settings['wholetale.instance_cap'] || null,
      placeholder=`Default: ${defaults['wholetale.instance_cap'] || 'none'}`,
      title="Number of instances that user can run concurrently.")
    label.control-label(for="wholetale_dataverse_url") Dataverse Installations Map
    input.input-sm.form-control#wholetale_dataverse_url(
      type="text", value=settings['wholetale.dataverse_url'] || null,
      placeholder=`Default: ${defaults['wholetale.dataverse_url'] || 'none'}`,
      title="Location of a map of dataverse installations.")
    label.control-label(for="wholetale_extra_hosts") Extra Dataverse Installations
    textarea#wholetale_extra_hosts.form-control(
      placeholder=`Default: ${defaults['wholetale.dataverse_extra_hosts'] || '[]'}`,
      title="Additional supported Dataverse installations. (JSON array [\"data1\", \"data2\", ...])")
        = JSON.stringify(settings['wholetale.dataverse_extra_hosts'] || defaults['wholetale.dataverse_extra_hosts'], null, 4)
    label.control-label(for="wholetale_external_auth_providers") Supported external integrations
    textarea#wholetale_external_auth_providers.form-control(
      placeholder=`Default: ${defaults['wholetale.external_auth_providers'] || '[]'}`,
      title="Supported external auth providers. (JSON object {\"provider1\": , \"provider2\":, ...})")
        = JSON.stringify(settings['wholetale.external_auth_providers'] || defaults['wholetale.external_auth_providers'], null, 4)
    label.control-label(for="wholetale_external_apikey_groups") Custom targets for API key providers
    textarea#wholetale_external_apikey_groups.form-control(
      placeholder=`Default: ${defaults['wholetale.external_apikey_groups'] || '[]'}`,
      title="Supported external auth providers. (JSON object {\"provider1\": [\"target1\", \"target2\"], ...})")
        = JSON.stringify(settings['wholetale.external_apikey_groups'] || defaults['wholetale.external_apikey_groups'], null, 4)
    label.control-label(for="wholetale_publisher_repositories") Custom targets for API key providers
    textarea#wholetale_publisher_repositories.form-control(
      placeholder=`Default: ${defaults['wholetale.publisher_repositories'] || '[]'}`,
      title="A mapping of publish repositories to auth providers. (JSON object {\"repository1\": \"authprovider1\", ...})")
        = JSON.stringify(settings['wholetale.publisher_repositories'] || defaults['wholetale.publisher_repositories'], null, 4)

  p#g-wholetale-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
