.g-config-breadcrumb-container
p.g-wholetale-description
  | Configure Whole Tale plugin
form#g-wholetale-config-form(role="form")
  .form-group
    label.control-label(for="wholetale_instance_cap") Instance Cap
    input.input-sm.form-control#wholetale_instance_cap(
      type="text", value=settings['wholetale.instance_cap'] || null,
      placeholder=`Default: ${defaults['wholetale.instance_cap'] || 'none'}`,
      title="Number of instances that user can run concurrently.")
    label.control-label(for="wholetale_dataverse_url") Dataverse Installations Map
    input.input-sm.form-control#wholetale_dataverse_url(
      type="text", value=settings['wholetale.dataverse_url'] || null,
      placeholder=`Default: ${defaults['wholetale.dataverse_url'] || 'none'}`,
      title="Location of a map of dataverse installations.")
    label.control-label(for="wholetale_extra_hosts") Extra Dataverse Installations
    textarea#wholetale_extra_hosts.form-control(
      placeholder=`Default: ${defaults['wholetale.dataverse_extra_hosts'] || '[]'}`,
      title="Additional supported Dataverse installations. (JSON array [\"data1\", \"data2\", ...])")
        = JSON.stringify(settings['wholetale.dataverse_extra_hosts'] || defaults['wholetale.dataverse_extra_hosts'], 4)
  p#g-wholetale-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
